<div class="container-mijuego">
    <div class="d-flex container">
        <div class="reglas-container">
            <div class="mensajes">
                <div class="gelatine" *ngIf="juegoActivado && !juegoDesactivado && !gano">{{ tiempo }}</div>
                <div *ngIf="!juegoActivado && !juegoDesactivado">
                    ¡¡Mueve el mouse dentro del rectangulo !!
                </div>
                <div *ngIf="juegoActivado && juegoDesactivado && gano">
                    ¡Muy bien, ganasteee!
                </div>
                <div *ngIf="juegoActivado && juegoDesactivado && !gano">
                    ¡Oh no!¡te faltaron {{ reprogramar }} circulos!
                </div>
            </div>
            <div *ngIf="juegoDesactivado">
                <button class="pulse" (click)="reiniciarJuego()">JUGAR DE NUEVO</button>
            </div>
        </div>
        <div class="game-container">
            <div #esferasRefs class="esferas" *ngFor="let dot of esferas"(mouseover)="cambioStyles(esferasRefs)"></div>
        </div>
    </div>
</div>

