<section class="background-image">
  <div class="container">
    <div class="contenedor-general row">
      <div class="col">
        <div>
          <img
            class="img-horcado"
            src="../../../../assets/ahorcado/ahorcado-{{7 - intentos}}.png"
            alt="horcado"/>
        </div>
        <p class="intentos">Te quedan {{ intentos }}/6 intentos</p>
      </div>
      <div class="col contenedor-botones">
        <div class="row palabra-adivinar">
          <div class="col-md-12 text-center">
            <div *ngFor="let letra of palabraSecreta" class="d-inline">
              <h1 class="d-inline p-2">{{ letra }}</h1>
            </div>
          </div>
        </div>
        <div class="letras-conteiner">
          <button
            *ngFor="let letra of letras"
            class="btn-letra"
            [disabled]="mostrarLetrasUsadas(letra)" 
            (click)="adivinarPalabra(letra)">
            {{ letra }}
          </button>
        </div>
        <div *ngIf="!juegoActivo">
          <button class="btn-reiniciar" (click)="iniciarJuego()">JUGAR OTRA VEZ</button>
        </div>
      </div>
    </div>
  </div>
</section>