@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

.container-imagen{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("../../../assets/fobo.png");
    background-repeat: no-repeat center;
    background-size: cover;
}

.container{
    width: 980px;
    min-height: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 180px;
    background: rgba(101, 113, 255, 0.292);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(30px);
    border-radius: 1rem;
    padding: 1rem;
    z-index: 10;
    color: #FCE0F1;
}

.container-biografia{
    span , strong, h3{
        color: #ff8fab;
    }
    margin-right: 20px;
}

.didact-gothic-regular {
  font-family: "Didact Gothic", sans-serif;
  font-weight: 550;
  font-style: normal;
  font-size: 17px;
}

.img-custom{
    border-radius: 50%;
}

.img-custom img{
    top: 3rem;
    width: 20vw;
    border-radius: 50%;
    box-shadow: 0 0 25px #BC9AFF;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

.img-custom img:hover{
    box-shadow: 0 0 25px #BC9AFF,
                0 0 50px #BC9AFF,
                0 0 80px #BC9AFF;
}