<section>
    <div class="container">
        <div class="container-biografia">
            <h1>Hola, soy <span>Laura Colque</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga debitis
                distinctio vel pariatur deleniti, illum voluptatum minus quasi
                repellendus quidem necessitatibus rerum?
            </p>
        </div>    
        <div class="img-custom">
            <img src="../../../assets/perfil_1.jpg" />
        </div>
    </div>
</section>
