@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

.container-imagen{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url("../../../../assets/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container {
    height: 700px;
    margin-top: 20px;
}

.container-opciones,
container-personaje {
    width: 400px;
    height: 400px;
    text-align: center;
}

.opciones {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container-personaje img {
    box-shadow: 0 0 8px black;
    height: 25rem;
    border-radius: 20px;
}

.texto-juegoTerminado{
    text-align: center;
    color: #712E1E;
    background-color: #E8D1CB;
    border-radius: 40px;
}

.texto{
    text-align: center;
    margin-top: 8px;
    color: #712E1E;
    background-color: #E8D1CB;
    border-radius: 40px;
}

.didact-gothic-regular {
  font-family: "Didact Gothic", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 25px;
}

.btn-opcion {
    width: 25rem;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    background-color: #d6ddd6;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    display: block;
    margin: 1rem auto;
}

.Gryffindor:hover {
    background-color: #A60028;
    box-shadow: 0px 15px 20px rgba(255, 0, 0, 0.421);
    color: #fff;
    text-shadow: 1px 1px 2px black;
    transform: translateY(-7px);
}

.Slytherin:hover {
    background-color: #125D3E;
    box-shadow: 0px 15px 20px rgba(2, 92, 21, 0.473);
    color: #fff;
    text-shadow: 1px 1px 2px black;
    transform: translateY(-7px);
}

.Hufflepuff:hover {
    background-color: #E79408;
    box-shadow: 0px 15px 20px rgba(255, 179, 0, 0.619);
    color: #fff;
    text-shadow: 1px 1px 2px black;
    transform: translateY(-7px);
}

.Ravenclaw:hover {
    background-color: #1C5D97;
    box-shadow: 0px 15px 20px rgba(0, 85, 255, 0.619);
    color: #fff;
    text-shadow: 1px 1px 2px black;
    transform: translateY(-7px);
}

.btn-opcion:active {
    transform: translateY(-2px);
}

.btn-reiniciar {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: #712E1E;;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    display: block;
    margin: 1rem auto;
}

.btn-reiniciar:hover {
    background-color: #fdfdfd;
    box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.4);
    color: #000;
    transform: translateY(-7px);
}

.btn-reiniciar {
    transform: translateY(-1px);
}

