<section class="background-image">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-4">
      <div class="col">
        <div class="card">
          <h5 class="card-title">Ahorcado</h5>
          <img src="../../../../assets/miniatura-ahorcado.jpeg" class="card-img-top" alt="imagen-de-ahoracado"/>
          <div class="card-body">
            <p class="card-text">
              ¡Prepárate para la adrenalina y la emoción de este clásico juego!
              Que consiste en adivinar la palabra, por cada intento fallido 
              se va completando el ahorcado, asi llevando al personaje a su inmidente 
              muerte.
            </p>
            <a routerLink="ahorcado" class="btn btn-primary btn-juego swing">JUGAR</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <h5 class="card-title">Mayor Menor</h5>
          <img src="../../../../assets/miniatura-mayormenor.jpg" class="card-img-top" alt="imagen-de-mayormenor"/>
          <div class="card-body">
            <p class="card-text">
              ¡Pon a prueba tu intuición para desafiar al azar! Adivina si la siguiente carta será mayor o menor que la carta actual, solo tienes 5 intentos. 
            </p>
            <a routerLink="mayor-menor" class="btn btn-primary btn-juego swing">JUGAR</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <h5 class="card-title">Preguntados</h5>
          <img src="../../../../assets/miniatura-preguntados.png" class="card-img-top" alt="imagen-de-preguntados"/>
          <div class="card-body">
            <p class="card-text">
              ¡Elige sabiamente y descubre a qué casa pertenece cada personaje en el mágico mundo de Hogwarts!
            </p>
            <a routerLink="preguntados" class="btn btn-primary btn-center swing">JUGAR</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <h5 class="card-title">Frenesi de Esferas</h5>
          <img src="../../../../assets/miniatura-esferas.png" class="card-img-top" alt="imagen-de-puntos-locos"/>
          <div class="card-body">
            <p class="card-text">
             Desafia tu destreza y velocidad para poder completar a tiempo el rectángulo
             antes de que el tiempo se agote. ¡Prepárate para una carrera contra el reloj mientras te sumerges en la acción 
             frenética!.
            </p>
            <a routerLink="frenesi-de-esferas" class="btn btn-primary btn-juego swing">JUGAR</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>