<section class="background-image">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-4">
      <div class="col">
        <div class="card">
          <h5 class="card-title">Ahorcado</h5>
          <img src="../../../../assets/miniatura-ahorcado.jpeg" class="card-img-top" alt="imagen-de-ahoracado"/>
          <div class="card-body">
            <p class="card-text">
              ¡Prepárate para la adrenalina y la emoción de este clásico juego!
              Que consiste en adivinar la palabra, por cada intento fallido 
              se va completando el ahorcado, asi llevando al personaje a su inmidente 
              muerte y tu perderas el juego.
            </p>
            <a routerLink="ahorcado" class="btn btn-primary btn-juego swing">JUGAR</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <h5 class="card-title">Mayor Menor</h5>
          <img src="../../../../assets/miniatura-mayormenor.jpg" class="card-img-top" alt="imagen-de-mayormenor"/>
          <div class="card-body">
            <p class="card-text">
              ¡Pon a prueba tu intuición para desafiar al azar! Adivina si la siguiente carta será mayor, menor que la carta actual, solo tienes 5 intentos. 
            </p>
            <a routerLink="mayor-menor" class="btn btn-primary btn-juego swing">JUGAR</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <h5 class="card-title">Preguntados</h5>
          <img src="../../../../assets/miniatura-preguntados.png" class="card-img-top" alt="iamgen-de-preguntados"/>
          <div class="card-body">
            <p class="card-text">
              ¿Te crees tener conocimiento de las banderas de los paises? El juego clasico de Preguntados consiste en adivinar el pais a base de su bandera. 
              Si consigues 4 puntos, ganaras el juego.
            </p>
            <a routerLink="preguntados" class="btn btn-primary btn-center swing">JUGAR</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <h5 class="card-title">Puntos Locos</h5>
          <img src="../../../../assets/img4.jpg" class="card-img-top" alt="imagen-de-puntos-locos"/>
          <div class="card-body">
            <p class="card-text">
             Tienes 25 segundos para llenar el rectángulo de círculos. Para ello debes pasar el mouse por 
             toda el area. El objetivo es hacerlo lo más rápido posible; si se acaba el tiempo y no has llenado 
             el rectángulo, perderás. ¡Mucha suerte!
            </p>
            <a routerLink="aventuramatematica" class="btn btn-primary btn-juego swing">JUGAR</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>