/* You can add global styles to this file, and also import other style files */
// styles.scss
// Agrega tus estilos personalizados a continuación
@font-face {
  font-family: 'Didact Gothic';
  src: url('assets/DidactGothic-Regular.ttf') format('truetype');
  font-style: normal;
}